[submodule ".registry"]
	path = .registry
	url = https://github.com/poissonconsulting/poissonconsulting.r-universe.dev
	branch = HEAD
[submodule "batchr"]
	path = batchr
	url = https://github.com/poissonconsulting/batchr
[submodule "bauw"]
	path = bauw
	url = https://github.com/poissonconsulting/bauw
[submodule "bboudata"]
	path = bboudata
	url = https://github.com/poissonconsulting/bboudata
[submodule "bbouretro"]
	path = bbouretro
	url = https://github.com/poissonconsulting/bbouretro
[submodule "bboushiny"]
	path = bboushiny
	url = https://github.com/poissonconsulting/bboushiny
[submodule "bbousims"]
	path = bbousims
	url = https://github.com/poissonconsulting/bbousims
[submodule "bbousuite"]
	path = bbousuite
	url = https://github.com/poissonconsulting/bbousuite
[submodule "bboutools"]
	path = bboutools
	url = https://github.com/poissonconsulting/bboutools
[submodule "canwqdata"]
	path = canwqdata
	url = https://github.com/bcgov/canwqdata
	registered = false
[submodule "checkr"]
	path = checkr
	url = https://github.com/poissonconsulting/checkr
[submodule "chk"]
	path = chk
	url = https://github.com/poissonconsulting/chk
[submodule "chktemplate"]
	path = chktemplate
	url = https://github.com/poissonconsulting/chktemplate
	registered = false
[submodule "codegrip"]
	path = codegrip
	url = https://github.com/lionel-/codegrip
[submodule "colorscale"]
	path = colorscale
	url = https://github.com/dreamRs/colorscale
	registered = false
[submodule "crancache"]
	path = crancache
	url = https://github.com/r-lib/crancache
	registered = false
[submodule "curtisquadata"]
	path = curtisquadata
	url = https://github.com/poissonconsulting/curtisquadata
[submodule "dbflobr"]
	path = dbflobr
	url = https://github.com/poissonconsulting/dbflobr
[submodule "dttr2"]
	path = dttr2
	url = https://github.com/poissonconsulting/dttr2
[submodule "embr"]
	path = embr
	url = https://github.com/poissonconsulting/embr
[submodule "err"]
	path = err
	url = https://github.com/poissonconsulting/err
[submodule "extras"]
	path = extras
	url = https://github.com/poissonconsulting/extras
[submodule "fishbc"]
	path = fishbc
	url = https://github.com/poissonconsulting/fishbc
[submodule "fledge"]
	path = fledge
	url = https://github.com/cynkra/fledge
[submodule "flobr"]
	path = flobr
	url = https://github.com/poissonconsulting/flobr
[submodule "fwapgr"]
	path = fwapgr
	url = https://github.com/poissonconsulting/fwapgr
[submodule "fwatlasbc"]
	path = fwatlasbc
	url = https://github.com/poissonconsulting/fwatlasbc
[submodule "gsdd"]
	path = gsdd
	url = https://github.com/poissonconsulting/gsdd
[submodule "hmstimer"]
	path = hmstimer
	url = https://github.com/poissonconsulting/hmstimer
[submodule "jmbr"]
	path = jmbr
	url = https://github.com/poissonconsulting/jmbr
[submodule "klexdatr"]
	path = klexdatr
	url = https://github.com/poissonconsulting/klexdatr
[submodule "klippy"]
	path = klippy
	url = https://github.com/rlesur/klippy
[submodule "kootlake"]
	path = kootlake
	url = https://github.com/poissonconsulting/kootlake
[submodule "mcmcdata"]
	path = mcmcdata
	url = https://github.com/poissonconsulting/mcmcdata
[submodule "mcmcderive"]
	path = mcmcderive
	url = https://github.com/poissonconsulting/mcmcderive
[submodule "mcmcr"]
	path = mcmcr
	url = https://github.com/poissonconsulting/mcmcr
[submodule "newdata"]
	path = newdata
	url = https://github.com/poissonconsulting/newdata
[submodule "nlist"]
	path = nlist
	url = https://github.com/poissonconsulting/nlist
[submodule "pgfeatureserv"]
	path = pgfeatureserv
	url = https://github.com/poissonconsulting/pgfeatureserv
[submodule "poispalette"]
	path = poispalette
	url = https://github.com/poissonconsulting/poispalette
[submodule "poissontemplate"]
	path = poissontemplate
	url = https://github.com/poissonconsulting/poissontemplate
[submodule "readwritesqlite"]
	path = readwritesqlite
	url = https://github.com/poissonconsulting/readwritesqlite
[submodule "remotes"]
	path = remotes
	url = https://github.com/r-lib/remotes
	registered = false
[submodule "rems"]
	path = rems
	url = https://github.com/bcgov/rems
	registered = false
[submodule "rescale"]
	path = rescale
	url = https://github.com/poissonconsulting/rescale
[submodule "revdepcheck"]
	path = revdepcheck
	url = https://github.com/r-lib/revdepcheck
[submodule "roxygen2"]
	path = roxygen2
	url = https://github.com/r-lib/roxygen2
[submodule "rpdo"]
	path = rpdo
	url = https://github.com/poissonconsulting/rpdo
[submodule "rtide"]
	path = rtide
	url = https://github.com/poissonconsulting/rtide
[submodule "sglekwy"]
	path = sglekwy
	url = https://github.com/poissonconsulting/sglekwy
[submodule "shinyssdtools"]
	path = shinyssdtools
	url = https://github.com/poissonconsulting/shinyssdtools
[submodule "shinywqbench"]
	path = shinywqbench
	url = https://github.com/poissonconsulting/shinywqbench
[submodule "shinywqg"]
	path = shinywqg
	url = https://github.com/poissonconsulting/shinywqg
[submodule "shinyypr"]
	path = shinyypr
	url = https://github.com/poissonconsulting/shinyypr
[submodule "sims"]
	path = sims
	url = https://github.com/poissonconsulting/sims
[submodule "smbr"]
	path = smbr
	url = https://github.com/poissonconsulting/smbr
[submodule "ssddata"]
	path = ssddata
	url = https://github.com/open-AIMS/ssddata
[submodule "ssdtests"]
	path = ssdtests
	url = https://github.com/poissonconsulting/ssdtests
[submodule "ssdtools"]
	path = ssdtools
	url = https://github.com/poissonconsulting/ssdtools
[submodule "subfoldr2"]
	path = subfoldr2
	url = https://github.com/poissonconsulting/subfoldr2
[submodule "term"]
	path = term
	url = https://github.com/poissonconsulting/term
[submodule "tidyplus"]
	path = tidyplus
	url = https://github.com/poissonconsulting/tidyplus
[submodule "timer"]
	path = timer
	url = https://github.com/poissonconsulting/timer
[submodule "tmbr"]
	path = tmbr
	url = https://github.com/poissonconsulting/tmbr
[submodule "universals"]
	path = universals
	url = https://github.com/poissonconsulting/universals
[submodule "usethis"]
	path = usethis
	url = https://github.com/r-lib/usethis
[submodule "wqbc"]
	path = wqbc
	url = https://github.com/poissonconsulting/wqbc
[submodule "wqbench"]
	path = wqbench
	url = https://github.com/poissonconsulting/wqbench
[submodule "wqbenchdata"]
	path = wqbenchdata
	url = https://github.com/poissonconsulting/wqbenchdata
[submodule "wqindex"]
	path = wqindex
	url = https://github.com/poissonconsulting/wqindex
[submodule "yesno"]
	path = yesno
	url = https://github.com/poissonconsulting/yesno
[submodule "ypr"]
	path = ypr
	url = https://github.com/poissonconsulting/ypr
