[submodule ".registry"]
	path = .registry
	url = https://github.com/poissonconsulting/poissonconsulting.r-universe.dev
	shallow = true
	branch = HEAD
[submodule "newdata"]
	path = newdata
	url = https://github.com/poissonconsulting/newdata
	shallow = true
	registered = true
[submodule "bauw"]
	path = bauw
	url = https://github.com/poissonconsulting/bauw
	shallow = true
	registered = true
